
body
{
	 
	 background-image: url("../images/mohamed2.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-attachment: fixed;
	 color: yellow;
	 font-family: 'Kurale', serif;
	
}

h1, p
{
	color: silver;
	text-align: right;
}



